<nav class = "navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- pic icon -->
      <a class = "navbar-left">
        <%=image_tag("puzzle_jt.jpg", id: "pic1")%>
      </a>
      <!-- expandable button -->
      <button type = "button" class="navbar-toggle collapsed"
              data-toggle="collapse"  data-target="#nav-list">
      <i class="fa fa-bars"></i></button>
    </div>

    <div class="navbar-collapse collapse"  id="nav-list">
      <ul class="nav navbar-nav">
        <li class="active"><%=link_to "HOME", root_path %></li>
        <li class="active"><a href="#">CONTACT</a></li>
        <li role="separator" class="divider"></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><%= link_to current_user.first_name.upcase, edit_user_path(current_user.id)%></em></li>

        <li><%= link_to "LOG OUT", sessions_path("whoever"), method: "delete"%></li>

        <% else %>
        <li><%= link_to "SIGN UP", new_user_path %></li>
        <li><%= link_to "LOG IN", new_session_path %></li>
        <% end %>
      </ul>
      <!-- 1. search field/form -->
      <form  class="navbar-form  navbar-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
        </div>
      </form>
    </div>
  </div>
</nav>
