<div id = "postupper">
  <h2><%= @post.title %></h2>
  <%=image_tag("bubble1.jpg", id: "bio")%>
  <a><i class="fa fa-heart-o" aria-hidden="true" style = "font-size: 23px; color: red; margin-left:30px"></i></a>

  <a><i class="fa fa-bookmark-o" aria-hidden="true" style = "font-size: 23px; color: grey; float:right; margin-right: 30px"></i></a>
  <div class="container-fluid" id = "comment1">
  <p><%= @post.body %></p><br>
  <p class="date"><%= @post.created_at %></p><br>
  </div>
</div>

<div class="row">
<div class="col-xs-12" id = "postlower">
  <% @post.comments.latest_first.each do |comment| %>
    <div class="leftbox">
      <%= image_tag("orca.jpg", id:"orca")%>
      <div class="rightbox">
        <a href="#"><strong>user</strong></a><br>
        <p><%= comment.body %></p>
      </div>
    </div>
  <% end %>
</div>

<!-- comments form -->
  <div class="container" id="bottom">
    <%= form_for [@post, @comment], html: {class: "nifty_form"} do |f| %>
      <%= f.text_area :body, size: "60x12" %>
      <%#= f.text_field :user %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
